ul,
li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
}
.list-item {
  display: flex;
}
.list-item a {
  font-size: 14px;
  padding: 19px 18px;
  color: black;
  display: inline-block;
}

/* banner  */
.banner {
  background-image: url(../img/14.png);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 0 60px 0;
}
.content {
  max-width: 550px;
  /* margin: 0 auto; */
  margin-left: 16%;
}

.banner {
  /* justify-content: center; */
  display: flex;
  align-items: center;
  text-align: right;
  /* max-width: 1200px; */
}
.content h1 {
  font-size: 18px;
  line-height: 1.428;
  font-weight: 600;
}
.content h2 {
  font-size: 2.7em;
}
.content p {
  margin: 5px;
}
.content button {
  border: 50%;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* end banner  */

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.list-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.item-card {
  overflow: hidden;
}
.item-card img {
  width: 100%;
  display: block;
  transition: 1.2s;
}

.list-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
.list-img {
  position: relative;
  overflow: hidden;
}
.overlay1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.list-img h1 {
  margin: auto auto 45px 70px;
  font-size: 17px;
  border-width: 3px;
  padding: 10px 30px;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.658);
}
.list-img h2 {
  margin: auto 75px 45px auto;
  font-size: 17px;
  border-width: 3px;
  padding: 10px 30px;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.658);
}
.list-img:hover img {
  transform: scale(1.2);
}
.list-img1 {
  position: relative;
  overflow: hidden;
}
.overlay2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.list-img1 h3 {
  margin: auto auto 15px auto;
  font-size: 17px;
  border-width: 3px;
  padding: 10px 30px;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.658);
}
.list-img1:hover img {
  transform: scale(1.1);
}

.list-card2 {
  position: relative;
  overflow: hidden;
}
.overlay3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.item-card h4 {
  margin: auto auto 15px auto;
  font-size: 17px;
  border-width: 3px;
  padding: 10px 30px;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.658);
}
.list-card2:hover img {
  transform: scale(1.2);
}
/* start Trending  */

.Text {
  text-align: center;
  margin: 30px 0;
}
.list-discovery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 25px;
}
img {
  width: 100%;
  display: block;
}
.item-discovery {
  position: relative;
  transition: 1.3s;
  overflow: hidden;
}
.overlay4 {
  position: absolute;
  background-image: url(../img/19.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1.4s;
}
.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  transition: 0.2s;
  background-color: rgba(53, 52, 52, 0.356);
}
.item-discovery:hover .overlay-text {
  opacity: 1;
}
.item-discovery:hover .overlay4 {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1.4);
}
.item-discovery h6 {
  margin: auto auto 25px auto;
  font-size: 17px;
  border-width: 3px;
  padding: 10px 30px;
  text-align: center;
  background-color: rgba(240, 248, 255);
}
.overlay5 {
  position: absolute;
  background-image: url(../img/20.png);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
}
.item-discovery:hover .overlay5 {
  width: 100%;
  height: 100%;
  opacity: 1;
  /* transform: scale(1.1); */
}
.overlay6 {
  position: absolute;
  background-image: url(../img/21.png);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
}
.item-discovery:hover .overlay6 {
  width: 100%;
  height: 100%;
  opacity: 1;
  /* transform: scale(1.1); */
}
.overlay7 {
  position: absolute;
  background-image: url(../img/22.png);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
}
.item-discovery:hover .overlay7 {
  width: 100%;
  height: 100%;
  opacity: 1;
  /* transform: scale(1.1); */
}
.overlay8 {
  position: absolute;
  background-image: url(../img/23.png);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
}
.item-discovery:hover .overlay8 {
  width: 100%;
  height: calc(100% - 51px);
  opacity: 1;
  /* transform: scale(1.1); */
}
.overlay9 {
  position: absolute;
  background-image: url(../img/24.png);
  width: 100%;
  height: calc(100% - 51px);
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
}
.item-discovery:hover .overlay9 {
  width: 100%;
  height: calc(100% - 51px);
  opacity: 1;
  /* transform: scale(1.1); */
}
.overlay10 {
  position: absolute;
  background-image: url(../img/25.png);
  width: 100%;
  height: calc(100% - 51px);
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
}
.item-discovery:hover .overlay10 {
  width: 100%;
  height: calc(100% - 51px);
  opacity: 1;
  /* transform: scale(1.1); */
}
.overlay11 {
  position: absolute;
  background-image: url(../img/26.png);
  width: 100%;
  height: calc(100% - 51px);
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
}
.item-discovery:hover .overlay11 {
  width: 100%;
  height: calc(100% - 51px);
  opacity: 1;
  /* transform: scale(1.1); */
}

.master {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
.list-master {
  position: relative;
  overflow: hidden;
}
.item-master {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.item-master h5 {
  margin: auto;
  font-size: 26px;
}
.item-master h6 {
  margin: auto;
  font-size: 26px;
}
.list-master:hover img {
  transform: scale(1.2);
}
